@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: hsl(216, 12%, 8%);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

article {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 35px;
}

section#submit > article > div:nth-child(1) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section#submit > article > div:nth-child(1) > img {
  padding: 15px;
  background-color: hsl(218, 8%, 26%);
  border-radius: 35px;
  margin-bottom: 30px;
}

p,
.span {
  color: hsl(217, 12%, 63%);
}

.span {
  margin: 10px 0 20px 0;
}

.span span {
  display: inline-block;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 20px;
  background-color: hsl(218, 8%, 26%);
  border-radius: 100%;
}

.span span:not(:last-child) {
  margin-right: 10px;
}

h1,
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
}

#submit > article > h1 {
  text-align: left;
  width: 100%;
}

#thankfull > article > p {
  text-align: center;
  width: 95%;
  font-size: 0.9rem;
}

#thankfull > article > div:nth-child(2) {
  color: hsl(25, 97%, 53%);
  background-color: hsl(218, 8%, 26%);
  padding: 5px 25px;
  border-radius: 15px;
  margin: 25px 0 30px 0;
}

#thankfull > article > div > img {
  margin-top: 25px;
}

button {
  border: unset;
  padding: 10px 150px;
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.span > span:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.span > span:active {
  color: hsl(0, 0%, 100%);
  background-color:  hsl(217, 12%, 63%)
}

#thankfull {
  display: none;
}
